<launch>
  <arg name="paused" value="true"/>
  <arg name="gui" default="false"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true"/>
    <arg name="debug" value="false"/>
    <arg name="gui" value="$(arg gui)" />
  </include>

  <param name="robot_description" command="$(find xacro)/xacro '$(find mekamon_urdf)/urdf/mekamon.urdf.xacro'" />

  <node name="spawn_mekamon_model" pkg="gazebo_ros" type="spawn_model" args="$(optenv ROBOT_INITIAL_POSE) -unpause -urdf -param robot_description -model mekamon"/>

  <!-- ignore_timestamp=true: 
        don't publish at fixed rate, publish whenever a JointState msg comes in -->
  <param name="ignore_timestamp" value="true" type="bool" />

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
  </node>



</launch>
