<launch>
  <arg name="paused" value="true"/>
  <arg name="gui" default="false"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true"/>
    <arg name="debug" value="false"/>
    <arg name="gui" value="$(arg gui)" />
  </include>

  <arg name="x_pos" default="0.0"/>
  <arg name="y_pos" default="0.0"/>
  <arg name="z_pos" default="0.0"/>
  <arg name="roll" default="0.0"/>
  <arg name="pitch" default="0.0"/>
  <arg name="yaw" default="0.0"/>

  <param name="robot_description" command="$(find xacro)/xacro '$(find mekamon_urdf)/urdf/mekamon.urdf.xacro'" />

  <node name="spawn_mekamon_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model mekamon
              -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) 
              -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)"/>

  <!-- ignore_timestamp=true: 
        don't publish at fixed rate, publish whenever a JointState msg comes in -->
  <param name="ignore_timestamp" value="true" type="bool" />

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
  </node>



</launch>
